<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu cuenta</title>
</head>
</head>
<body>
  <header>
    <div class="top-header">
      <div class="logo">
        <img
          src="images/logo-mercado-liebre.svg"
          alt="Logo de MercadoLiebre"
        />
      </div>
      <div class="form" action="#" method="GET">
        <div class="input">Buscar productos, marcas y más</div>
        <div class="submit"><i class="fa fa-search"></i></div>
      </div>
      <p>
        <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
        de crédito
      </p>
    </div>
  </header>
<body>
    <form action="/" method="post">
     <div class="form">
       <input type="text" name="acceso" id="nombres"><br>
       <label for="acceos">Nombres</label><br>
       <input type="text" name="acceso" id="usuario"><br>
       <label for="acceso"> USER</label><br>
       <input type="date" name="acceso" id="Fecha de nacimiento"><br>
    |   <label for="Fecha de nacimiento">Fecha de nacimiento</label> <br>
        <input type="text" name="acceso" id="Domicilio"><br>
        <label for="Domicilio"> Domicilio</label><br>
    <label for="Perfil de usuario"> Perfil de usuario</label> <br>
        <input type="radio" name="acceso" id="categoria de interes"> 
        <label for="acceso">Comprar </label>
        <input type="radio" name="acceso" id="categoria de interes">
        <label for="acceso">Vender </label><br>
    <label for="Categoria de interés"> Categorías:</label><br>
        <input type="radio" name="categoria" id="Electro">
        <label for="categoria">Electro</label><br>
        <input type="radio" name="categoria" id="Moda">
        <label for="categoria">Moda</label><br>
        <input type="radio" name="categoria" id="Hogar">
        <label for="categoria">Hogar</label><br>
        <input type="radio" name="categoria" id="Jugueteria">
        <label for="categoria">Jugueteria</label><br>
        <input type="radio" name="categoria" id="Vida sana">
        <label for="categoria">Vida sana</label><br>

        <input type="file" name ="foto" accept=".jpg"><br>
        <label for="foto"> foto de usuarios</label><br>
        <input type="password" name="contraseña" id="pass"><br>
        <label for="contraseña">Contraseña</label><br>
        <input type="password" name="confirmar" id="confipass"><br>
        <label for="confirm">Confirmar contraseña</label><br>
        <input type="submit" name="enviar" ><br>
        <label for="enviar">Enviar </label><br>
        <input type="reset" name="borrar" id="reset"><br>
        <label for="borrar">Borrar </label>
    </div>
</form>        

</body>
</html>